@page "/dashboard"
@rendermode InteractiveServer
@using DashboardData.Services
@inject ISensorService SensorService
@using DashboardData.Models
@using DashboardData.Components.UI
@inject UserCounterService CounterService
@inject NavigationManager NavigationManager

<PageTitle> Mon Dashboard data</PageTitle>
<h1>tableau de board</h1>

<div class="alert alert-info">
    Bienvenue sur l'interface de pilotage.
    Nous somme le :<strong>@DateTime.Now.ToString("dd MMMM yyyy")</strong>
</div>

<button class="btn btn-outline-secondary mb-3" @onclick="() => ShowAsCards = !ShowAsCards">
    <i class="bi bi-arrow-left-right"></i> Changer de Vue
</button>

@if (ShowAsCards)
{
    <div class="row">
        @foreach (var sensor in Sensors)
        {
            <div class="col-md-3 mb-3">
                <SensorCard Sensor="sensor" />
            </div>
        }
    </div>
}
else
{
    <div class="row mb-3">
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-text"><i class="bi bi-search"></i></span>
            @* 
              @bind="SearchText" : Lie la valeur.
              @bind:event="oninput" : Met à jour la variable à chaque touche tapée !
            *@
            <input type="text" 
                   @bind="SearchText" 
                   @bind:event="oninput" 
                   class="form-control" 
                   placeholder="Rechercher par nom de capteur..." />
        </div>
    </div>
</div>
<div class="form-check mt-2">
    <InputCheckbox @bind-Value="ShowCriticalOnly" 
                   @onchange="async _ => await ExecuteSearch()" 
                   class="form-check-input" />
    <label class="form-check-label">
        Afficher alertes (>30.0)
    </label>
</div>
    <SensorTable Sensors="FilteredSensors" OnDeleteClicked="DeleteSensor" OnSortRequested="SortByValue" />
}

<p>
    status du system:
    @if (IsSystemOnline)
    {
        <span class="badge bg-success">Operationnel</span>
    }
    else
    {
        <span class="badge bg-danger">Erreur critique</span>
    }
</p>

<button class="btn btn-primary" @onclick="RefreshSystem">
    <span class="oi oi-reload">Actualiser le statut</span>
</button>

<div class="mt-3 card card-body">
    logs : @LastLog
</div>

@if (_isLoading)
{
    <p><em>chargement des donnees...</em></p>
}
else
{
    <div class="row mb-4">
        <div class="col-md-4">
    <div class="card shadow-sm h-100">
        <div class="card-header bg-white">
            <h5 class="mb-0"><i class="bi bi-speedometer2 text-danger"></i> Valeur Max Détectée</h5>
        </div>
        <div class="card-body text-center d-flex flex-column justify-content-center">
            
            <RadzenRadialGauge Style="width: 100%; height: 250px;">
                <RadzenRadialGaugeScale Min="0" Max="100" Step="20">
                    <RadzenRadialGaugeScalePointer Value="@Max" Length="0.6" ShowValue="true" />
                    <!-- Zone verte -->
                    <RadzenRadialGaugeScaleRange From="0" To="40" Fill="green" />
                    <!-- Zone orange -->
                    <RadzenRadialGaugeScaleRange From="40" To="70" Fill="orange" />
                    <!-- Zone rouge -->
                    <RadzenRadialGaugeScaleRange From="70" To="100" Fill="red" />
                </RadzenRadialGaugeScale>
            </RadzenRadialGauge>

        </div>
    </div>
</div>
        <div class="col-md-8">
            <div class="card shadow-sm h-100">
                <div class="card-header bg-white">
                    <h5 class="mb-0"><i class="bi bi-bar-chart-fill text-primary"></i> Températures Moyennes</h5>
                </div>
                <div class="card-body">
                    <RadzenChart SeriesClick="OnChartClick">
                        <RadzenColumnSeries Data="@LocationStats" CategoryProperty="LocationName" ValueProperty="AverageValue" Title="Moyenne" Fill="#0d6efd" />
                        <RadzenValueAxis Formatter="@((value) => Math.Round((double)value, 1) + " °C")" />
                        <RadzenLegend Visible="false" />
                    </RadzenChart>
                </div>
            </div>
        </div>
    </div>
}

<div class="nav-item px-3">
    <button class="btn btn-primary" @onclick="NavigateToAddSensor">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add Sensor
    </button>
</div>

<div>
    <h4>User Counter Test</h4>

    <p>
        Valeur actuelle :
        <strong>@CounterService.Count</strong>
    </p>

    <button class="btn btn-success" @onclick="IncrementCounter">
        Increment
    </button>
</div>

<button class="btn btn-secondary mb-3" @onclick="LoadAll">Tous les sondes</button>
<button class="btn btn-danger mb-3" @onclick="LoadCritical">Alerts (>30.0)</button>
<a href="/edit-sensor" class="btn btn-success mb-3">+ Nouveau Capteur</a>



<div class="row mb-4">
    <div class="col-md-4 mb-3">
        <KpiCard Title="Total Sondes" Value="@TotalSondes.ToString()" BackgroundColorClass="bg-primary" IconClass="bi-box-seam" />
    </div>

    <div class="col-md-4 mb-3">
        <KpiCard Title="Moyenne Globale" Value="@($"{Moyenne:F1} °C")" BackgroundColorClass="bg-success" IconClass="bi-bullseye" />
    </div>

    <div class="col-md-4 mb-3">
        <KpiCard Title="Alerte Max" Value="@($"{Max:F1} °C")" BackgroundColorClass="bg-danger" IconClass="bi-exclamation-triangle-fill" />
    </div>
    <div class="col-md-4 mb-3">
    <div class="card shadow-sm h-100">
        <div class="card-header bg-info text-white">
            <h5 class="mb-0">
                <i class="bi bi-geo-alt"></i> Sondes par Localisation
            </h5>
        </div>
        <div class="card-body">
            <RadzenChart>
                <RadzenDonutSeries Data="@CountStats" 
                                   CategoryProperty="LocationName" 
                                   ValueProperty="Count">
                    <TitleTemplate>
                        <div class="rz-donut-content">
                            <div>Total</div>
                            <div>@TotalSondes</div>
                        </div>
                    </TitleTemplate>
                </RadzenDonutSeries>
            </RadzenChart>
        </div>
    </div>
</div>
</div>


@code {
    private string _searchText = "";
    private bool IsSystemOnline = true;
    private int RequestCount = 0;
    private string LastLog = "Rien a signaler";
    private int TotalSondes;
    private double Moyenne;
    private double Max;
    private bool ShowAsCards = false;
    private bool ShowCriticalOnly = false;

    private List<SensorData> Sensors= new();
    private List<LocationStat> LocationStats = new();
    private bool _isLoading = true;
    private string? SelectedLocationFilter = null;
    private List<SensorData> FilteredSensors = new();
    private List<LocationCountStat> CountStats = new();
    private bool sortAsc = true;
        protected override async Task OnInitializedAsync()
    {
        await LoadAll();
        TotalSondes = await SensorService.GetTotalCountAsync();
        Moyenne = await SensorService.GetAverageValueAsync();
        Max = await SensorService.GetMaxValueAsync();
        LocationStats = await SensorService.GetAverageValueByLocationAsync();
        CountStats = await SensorService.GetSensorCountByLocationAsync();
        _isLoading = false;
         await ExecuteSearch();
        
    }

    private async Task LoadAll()
    {
        Sensors = await SensorService.GetSensorsAsync();
    }

    private async Task LoadCritical()
    {
        Sensors = await SensorService.GetCriticalSensorAsync(30.0);
    }

    private void NavigateToAddSensor()
    {
        NavigationManager.NavigateTo("/add-sensor");
    }

    private void RefreshSystem()
    {
        RequestCount++;
        var rnd = new Random();
        IsSystemOnline = rnd.Next(0, 10) > 2;

        if (IsSystemOnline)
            LastLog = $"check{RequestCount}:tout va bien";
        else
            LastLog = $"check{RequestCount}:ANOMALIE DETECTEE!";
    }

    private void IncrementCounter()
    {
        CounterService.Increment();
    }

    private async Task DeleteSensor(int id)
    {
        await SensorService.DeleteSensorAsync(id);
        await LoadAll();
    }

private string SearchText
{
    get => _searchText;
    set
    {
        _searchText = value;
        _ = ExecuteSearch(); // On relance la recherche SQL
    }
}
    private async void OnChartClick(SeriesClickEventArgs args)
{
    var clickedLocation = args.Category?.ToString();

    SelectedLocationFilter = SelectedLocationFilter == clickedLocation ? null : clickedLocation;
    await ExecuteSearch();
}


    /*private List<SensorData> FilteredSensors
{
    get
    {
        var query = Sensors.AsEnumerable();

        if (!string.IsNullOrEmpty(SelectedLocationFilter))
        {
            query = query.Where(s => s.Location?.Name == SelectedLocationFilter);
        }

        if (!string.IsNullOrWhiteSpace(SearchText))
        {
            query = query.Where(s => s.Name.Contains(SearchText, StringComparison.OrdinalIgnoreCase));
        }

        return query.ToList();
    }
}*/
  

  private async Task ExecuteSearch()
{
    FilteredSensors = await SensorService.SearchSensorsAsync(SelectedLocationFilter, SearchText, ShowCriticalOnly);
}
private void SortByValue()
{
    if (sortAsc)
        FilteredSensors = FilteredSensors.OrderBy(s => s.Value).ToList();
    else
        FilteredSensors = FilteredSensors.OrderByDescending(s => s.Value).ToList();

    sortAsc = !sortAsc;
}
}
